{% extends 'MyKitchenHelper/base_index.html' %}

{% block csslink %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/recipes.css" %}"/>
{% endblock %}

{% block title %}Recipe Book{% endblock %}

{% block nav %}
<div id="groupby">
	<label>Group by: </label>
	<select id="GroupBy" autocomplete="off">
		<option value="name" selected="selected">name</option>
	</select>
</div>

<ul class="contentnavbuttons">
	<li id="addobject">
		<a href="{% url 'recipes:new' %}">
			<i class="fa fa-plus-square"></i>
		</a>
	</li>
	<li id="editobjects">
		<a href="{% url 'recipes:edit' %}">
			<i class="fa fa-pencil-square"></i>
		</a>
	</li>
</ul>
{% endblock %}

{% block objectlist %}
	{% include "recipes/index_results.html" %}
{% endblock %}

{% block activenav %}"recipesNav"{% endblock %}

{% block indexurl %}
	"{% url 'recipes:regroup' %}"
{% endblock %}