{% extends 'recipes/index.html' %}
	
{% block title %}Add New Recipe{% endblock %}

{% block nav %}
<div id="groupby">
	<label>Group by: </label>
	<select id="GroupBy" autocomplete="off">
		<option value="name" selected="selected">name</option>
	</select>
</div>
{% endblock %}

{% block precontent %}
	<div id="adddiv">
		<form id="addform" method="post", action="">
			{% csrf_token %}
			{% for field in form %}
			<table class="fieldtable">
				<tr><td>{{ field.label }}</td></tr>
				<tr><td>{{ field }}</td></tr>
				{% if field.errors %}
				<tr><td class="errorlist">{{ field.errors }}</td></tr>
				{% endif %}
			</table>
			{% endfor %}
			<div class="clear"></div>
			<nav>
				<ul class="contentnavbuttons">
					<li>
						<button type="submit" class="submit">
							<i class="fa fa-check-circle"></i>
						</button>						
					</li>
					<li id="canceladd">
						<a href="{% url 'recipes:index' %}">
							<i class="fa fa-times-circle"></i>
						</a>
					</li>
				</ul>
			</nav>

		</form>
	</div>
{% endblock %}
