{% extends 'MyKitchenHelper/base.html' %}
	
{% block csslink %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/inventory.css" %}"/>
{% endblock %}

<!-- TITLE -->
{% block title %}Inventory{% endblock %}

<!-- NAV -->
{% block nav %}

<div id="groupby">
	<label>Group by: </label>
	<select id="GroupBy" autocomplete="off">
		<option value="name" selected="selected">name</option>
		<option value="category">category</option>
		<option value="status">status</option>
	</select>
</div>

<ul class="contentnavbuttons">
	<li id="addobject">
		<a href="{% url 'inventory:new' %}">
			<i class="fa fa-plus-square"></i>
		</a>
	</li>
	<li id="editobjects">
		<a href="{% url 'inventory:edit' %}">
			<i class="fa fa-pencil-square"></i>
		</a>
	</li>
</ul>
{% endblock %}

{% block content %}
	<div id="objectlist">
		{% include "inventory/index_results.html" %}
	</div>
{% endblock %}

{% block scriptlink %}
<script>
	activeNav("inventoryNav");
	var index_url = "{% url 'inventory:regroup' %}"
</script>
<script src="{% static "scripts/secondary.js" %}"></script>
<script>
	attachGroupDisplayEventHandler()
</script>

{% endblock %}