
{% extends 'MyKitchenHelper/base.html' %}
	
{% block csslink %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/inventory.css" %}"/>
{% endblock %}

<!-- TITLE -->
{% block title %}Add New Item{% endblock %}

<!-- NAV -->
{% block nav %}
<div id="groupby">
	<label>Group by: </label>
	<select id="InventoryGroupBy" autocomplete="off">
		<option value="name" selected="selected">name</option>
		<option value="category">category</option>
		<option value="status">status</option>
	</select>
</div>
{% endblock %}

{% block precontent %}
	<div id="adddiv">
		<form id="additemform" method="post", action="">
			{% csrf_token %}
			{% for field in form %}
			<table class="fieldtable">
				<tr><td>{{ field.label }}</td></tr>
				<tr><td>{{ field }}</td></tr>
				{% if field.errors %}
				<tr><td class="errorlist">{{ field.errors }}</td></tr>
				{% endif %}
			</table>
			{% endfor %}
			<div class="clear"></div>
			<nav>
				<ul class="contentnavbuttons">
					<li>
						<button type="submit" class="submit">
							<i class="fa fa-check-circle"></i>
						</button>						
					</li>
					<li id="canceladditem">
						<a href="{% url 'inventory:index' %}">
							<i class="fa fa-times-circle"></i>
						</a>
					</li>
				</ul>
			</nav>

		</form>
	</div>
{% endblock %}


{% block content %}
	<div id="inventorylist">
		{% include "inventory/index_results.html" %}
	</div>
{% endblock %}

{% block scriptlink %}
<script>
	activeNav("inventoryNav");
	var index_url = "{% url 'inventory:regroup' %}"
</script>
<script src="{% static "scripts/inventory.js" %}"></script>
<script>
	attachGroupDisplayEventHandler()
</script>

{% endblock %}