/* ---------------------------- */
/* Specific Index Fields        */
/* ---------------------------- */

#id_stock	  { width: 50px;  }
#id_threshold { width: 50px;  }
#id_category  { width: 125px; }


/* ---------------------------- */
/* Status Symbols               */
/* ---------------------------- */

.fa-times-circle 		{ color: red; 	 }
.fa-exclamation-circle 	{ color: orange; }
.fa-question-circle 	{ color: blue; 	 }
.fa-check-circle 		{ color: green;  }
