#adddiv {
	padding: 10px 20px;
	margin: 0 5px;
	border: 1px solid #96CC21;
	border-top: none;
	border-radius: 0 0 20px 20px;
	-webkit-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.25);
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}

#adddiv input {
	font-family: "Khula",sans-serif;
	/*margin-right: 10px;*/
}

#adddiv label {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	vertical-align: middle;
	padding-right: 5px;
}

#id_stock, #id_threshold {
	width: 50px;
}

#id_category {
	width: 125px;
}

.errorlist {
	list-style: symbols(symbolic "*");
	padding-left: 10px;
	padding-top: 2px;
	color: red;
	font-family: "Khula",sans-serif;
	font-size: 12px;
}

.submit {
	background: none!important;
	border: none;
	padding: 0!important;
	font: inherit;
	cursor: pointer;
}

/*.submit i {
	font-size: 30px;
	padding: 0;
}*/

/*#addsubmit {
	position: absolute;
	top: 15px;
	right: 65px;
	font-size: 30px;
}

#addsubmit:hover {
	cursor: pointer;
	color: yellow;
}*/



#inventorylist, #inventoryedit {
	padding: 20px;
	overflow: auto;
}

.group {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 10px auto;
	font-family: 'Khula', sans-serif;
}

#inventoryedit .group {
	width: auto;
}

.grouphead {
	border-bottom: 1px solid #C6C6C6;
	font-family: 'Oregano', cursive;
}

.grouphead i {
	color: #000;
	font-size: 14px;
	padding-right: 10px;
	padding-top: 3px;
	display: inline-block;
	vertical-align: top;
}

.grouphead i:hover {
	cursor: pointer;
}

/* First Data Row */
.grouphead + tr > td {
	padding-top: 5px;
}

/* Header cells */
.grouphead th {
	font-weight: normal;
}

/* First Header Cell*/
.grouphead th:first-child {
	font-size: 18px;
	color: #005C00;
}

/* First Column */
.group tr > :first-child {
	text-align: left;
	/*padding-left: 5px;*/
}

/* First Data Row Column */
.datarow > :first-child {
	padding-left: 25px;
}

.datarow.rowshow {
	display: table-row;
}

.datarow.rowhide {
	display: none;
}



/* Second Column */
#inventorylist .group col:nth-child(2) {
	width: 50px;
}

/* Third Column */
#inventorylist .group col:nth-child(3) {
	width: 50px;
}


#inventoryedit td {
	padding: 3px 10px;
}

#inventoryedit .errorlist {
	position: relative;
	top: -10px;
}

#inventoryedit .errors {
	color: red;
	font-family: 'Oswald', sans-serif;

}

.clear {
	clear: both;
}

.fieldtable {
	float: left;
	padding-right: 15px;
	padding-bottom: 10px;
	height: 70px;
}

.fieldtable tr {
	height: 25px;
}

.fieldtable .errorlist {
	padding-left: 5px;
}




.fa-times-circle {
	color: red;
}

.fa-exclamation-circle {
	color: orange;
}

.fa-question-circle {
	color: blue;
}

.fa-check-circle {
	color: green;
}


/*

#submitadd {
	color: #5FB336;
}

#submitadd i:hover {
	cursor: pointer;
}

#canceladd {
	color: red;
}

#canceladd i:hover {
	cursor: pointer;
};*/


.scol input, .scol select {
	width:50px;
}

.mcol input, .mcol select {
	width:70px;
}

.lcol input, .lcol select {
	width: 100px;
}

.xlcol input, .xlcol select {
	width: 175px;
}

